CREATE TABLE messages (message_id int primary key, user_id int references users(user_id), message text, status int);
CREATE TABLE messageBoard(id int,name text, message_id references messages(message_id), private int, moderator int references users(user_id));
CREATE TABLE users (    user_id INTEGER PRIMARY KEY AUTOINCREMENT,    username TEXT UNIQUE NOT NULL,    email TEXT NOT NULL,    password TEXT NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE board_subscriptions (user_id integer references users(user_id), message_board_id integer references messageBoard(id));
